* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: xx-largex;
  font-weight: bold;
}

section {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

div {
  float: left;
  border: 1px solid black;
  margin: 10px;
}

p {
  width: 95%;
  clear: both;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  float: right;
  margin: 0px 0px 10px 0px;
  width: 150px;
  font-size: x-large;
  text-align: center;
  color: white;
  border: 1px solid black;
}

.d1 {
  background-color: #DCE405;
}

.d2 {
  background-color: #0D8E8E;
}

.d3 {
  background-color: #BA8257;
}

/**************** Desktop screen ****************/
@media (min-width: 992px) {
  .col-desk-3 {
    float: left;
    width: 33.33%;
  }
}

/**************** Tablet screen ****************/
@media (min-width: 768px) and (max-width: 991px) {

  .col-tab-2 {
    float: left;
    width: 50%;
  }

  .col-tab-1 {
    float: left;
    width: 100%;
  }
}

#t1 {
    background-color: #350404;
}

#t2 {
    background-color: #99004C;
}

#t3 {
    background-color: #00994C;
}